body{
    background-image: url(image\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    box-sizing: border-box;
}
 
 .contact{
     margin-top: 2%;
 }
 
 
 
 *{
    font-family:courier,arial,helvetica;
}

h1 {
   
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

#cont{
    color: white;
    
}

.homeIcon {
    float: right;
    border: white;
    background-color: grey;
    margin-right: 3.5%;
    
}

.contact p {
    font-size: 30px;
    text-align: center;
}

.three {
    display: flex;
    justify-content: space-evenly;
}

.sales {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 30%;
    background-color: #C4C4C4;
}

.helpnSupport {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 30%;
    background-color: #C4C4C4;
}

.blog {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 30%;
    background-color: #C4C4C4;
}

.sales img {
    display: flex;
    border: yellowgreen;
}