body{
    background-color:#eeeeee;
    box-sizing: border-box;
}

 #header{
     text-align: center;
 }

 .button{
     background-color: red;
     border-radius: 10px;
     padding: 10px 32px;
     text-decoration: none;
     margin: 4px 2px;
     text-align: center;
     color: white;
     font-size: 16px;
     justify-content: space-between;
     margin-right: 10%;
    
    
 }

 .section{
     display: flex;
     align-items: center;
     margin: auto;
     width: 30%;
    
     
 }

 .sign{
      background-color: white;
     border-radius: 10px;
     padding: 10px 32px;
     text-decoration: none;
     margin: 4px 2px;
     text-align: center;
     color: black;
     font-size: 16px;
     justify-content: end;
     margin-left: 200px;

     

 }

 .top{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .container{
     padding: 16px;
     margin-left: 450px;
 }