body{
    background-color:#eeeeee;
    box-sizing: border-box;
    background-image: url(image\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}

 #header{
     text-align: center;
     color: white;
 }

 .button{
     background-color: red;
     border-radius: 10px;
     padding: 10px 32px;
     text-decoration: none;
     margin: 4px 2px;
     text-align: center;
     color: white;
     font-size: 16px;
     justify-content: space-between;
     margin-right: 10%;
     border-color: red;
     margin-left: 18px;
    
    
 }

 .section{
     display: flex;
     align-items: center;
     margin: auto;
     width: 30%;
    
     
 }

 .sign{
      background-color: white;
     border-radius: 10px;
     padding: 10px 32px;
     text-decoration: none;
     margin: 4px 2px;
     text-align: center;
     color: black;
     font-size: 16px;
     justify-content: end;
     margin-left: 160px;
     border-color: white;

     

 }

 .container{
     
     margin-left: 460px;
     display: flex;
     flex-direction: column;
 }
 input[type=text],input[type=password] {
     width: 50%;
     padding: 15px;
     border: none;
     background: white;
     margin: 5px 0 22px 0;
     display: inline-block;
     border-radius: 10px;
 }

 input[type=text]:focus, input[type=password]:focus {
     background-color: lightgrey;
     outline: none;
 }

 .Login{
     background-color: red;
     color: white;
     padding: 16px 20px;
     cursor: pointer;
     width: 50%;
     opacity: 0.9;
     border: none;
     border-radius: 10px;
 }
 .Login:hover {
     opacity: 1;
     color: pink;
 }

 .signup{
    
     text-align: center;
 }

 a{
    color:lightgreen;
    font-weight: 900;
    text-decoration: none;
 }

 #rem{
     color: white;
 }