body {
  background-color:white;
  background-image: url(image123.jpg);
  background-size: cover;
}

.pricingcontainer{
        position: relative;
        width: 1440;
        height:1024;
        
}

.logo {
  text-align: center;
}

.sideNavBar {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #808080;
  position: fixed;
  height: 100%;
}

.sideNavBar a {
  text-decoration: none;
  font-size: 30px;
  display: block;
  color: black;
  background-color: #c4c4c4;
  margin-bottom: 10px;
  padding: 16px;
  
}

.sideNavBar img {
  height: 20px;
  width: 20px;
}

.sideNavBar a.logo {
  background-color: red;
  color: black;
}
.sideNavBar a.pricestyle{
  background-color: red;
}

a:hover {
  background-color: red;
  color: white;
}

h1 {
  text-align: center;
  margin: 10px;
  margin-bottom: 50px;
 color:white;
  padding: 20px;
  padding: 0;

}

.icons img{
  padding-top: 60%;
  padding-left: 8%;
  height: 40px;
  width: 50px;
}

#prices{
  margin-left: 280px;
}
.prices{
    float: left;
    width: 33.3%;
    padding: 8px;
  }
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  } 
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    color: white;
  } 
  .price .red{
    background-color:red;
    font-size: 20px;
  }
  a{text-decoration: none;}
