body{
  background-image: url(image123.jpg);
  background-size: cover;

}



.profilecontainer{
    position: relative;
    width: 1440;
    height:1024;
    
  
}
.logo {
  text-align: center;
}

.sideNavBar {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #808080;
  position: fixed;
  height: 100%;
}

.sideNavBar a {
  text-decoration: none;
  font-size: 30px;
  display: block;
  color: black;
  background-color: #c4c4c4;
  margin-bottom: 10px;
  padding: 16px;
  
}

.sideNavBar img {
  height: 20px;
  width: 20px;
}

.sideNavBar a.logo {
  background-color: red;
  color: black;
}
.sideNavBar a.profilestyle{
  background-color: red;
}

a:hover {
  background-color: red;
  color: white;
}

h1 {
  text-align:center;
  margin: 10px;
  margin-bottom: 50px;
  color:white;
  padding: 20px;
  padding: 0;

}

.icons img{
  padding-top: 60%;
  padding-left: 8%;
  height: 40px;
  width: 50px;
}


.profile{
    position: absolute;
    width: 600px;
    height: 700px;
    left: 350px;
    top: 50px;
    background: #C4C4C4;
    
}
.circleaccount{
    position: absolute;
    width: 384px;
    height: 384px;
    left: 250px;
    top: 8px;
}
.editpen{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 712px;
    top: 10px;
}
form{
    position: absolute;
    top: 150px;
    left:100px;
    align-items: center;
    background-color: #C4C4F9;
    display:inline;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px;
    height:550px;
    width: 400px
}
.inputcontainer{
    height: 50px;
    position: relative;
    width: 100%;
}
.one{
    margin-top: 10px;
}
.two{
    margin-top: 30px;
}
.input{
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color:#000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: #C4C4C4;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
  }
  .cutshort{
        width: 120px;
    }
 .input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;

  text-align: center;
  width: 100%;
}
#one{
background-color: green;
margin-right: 10px;
}
 #two{
    background-color: red;
}
.submit:active {
  background-color: #06b;
}
#buttons{
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}
      