body{
    background-color:#eeeeee;
    box-sizing: border-box;
}

#sign{
    text-align: center;
<<<<<<< HEAD
}

.container{
     
    margin-left: 460px;
    display: flex;
    flex-direction: column;
    
}


input[type=text],input[type=password] {
    width: 50%;
    padding: 15px;
    border: none;
    background: white;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 10px;
}

.Signup{
    background-color: red;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border: none;
    border-radius: 10px;
}
.Signup:hover {
    opacity: 1;
    color: pink;
}



input[type=text]:focus, input[type=password]:focus {
    background-color: lightgrey;
    outline: none;
}




a{
    color: limegreen;
}

#param{
    margin-left: 20px;
=======
>>>>>>> 959cd48902dda8993090c9c48f4d524fa3e29daa
}