
.profilecontainer{
    position: relative;
    width: 1440;
    height:1024;
    background: #EEEEEE;
}
.profile{
    position: absolute;
    width: 600px;
    height: 700px;
    left: 500px;
    top: 136px;
    background: #C4C4C4;
}
.circleaccount{
    position: absolute;
    width: 384px;
    height: 384px;
    left: 250px;
    top: 8px;
}
.editpen{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 712px;
    top: 10px;
}
form{
    position: absolute;
    top: 150px;
    left:100px;
    align-items: center;
    background-color: #C4C4F9;
    display:inline;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px;
    height:550px;
    width: 400px
}
.inputcontainer{
    height: 50px;
    position: relative;
    width: 100%;
}
.one{
    margin-top: 10px;
}
.two{
    margin-top: 30px;
}
.input{
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color:#000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: #C4C4C4;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  .cutshort{
        width: 85px;
    }
 .input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;

  text-align: center;
  width: 100%;
}
#one{
background-color: green;
}
 #two{
    background-color: red;
}
.submit:active {
  background-color: #06b;
}

      