

*{
    margin: 0px;
    padding: 0px;
}
#dash{
    display: flex;
    flex-direction: column;
    list-style: none;

}
.button{
    background-color: #808080;
    border-radius: 10px;
    border-color: green;
}
 .cancel{
    background-color: #808080;
    border-radius: 10px;
    border-color: red;
}
#dash li{
    width: 300px;
    height: 40px;
    background-color:#D3D3D3;
    margin: 1px;
    margin-left: 5px;
}

#dash li a{
    color: black;
    font-weight: 500px;
    padding: 6px 30px;
    margin: 8px;
    text-decoration: none;
}
ul li a{
    color: black;
    font-weight: bold;
}
.button{
    background-color: green;
    padding: 6px 12px;
    font-weight: bold;
    margin: 8px 30px;
}
.cancel{
    background-color: red;
    padding: 6px 6px;
    font-weight: bold;
}
h1{
    background-color: red;
    text-align:center ;
}
.map{
    position: absolute;
    margin-left: 300px;
    overflow: scroll;
}
#home{
    position: absolute;
    margin: 0px;
    padding: 0px;
    left:1230px;
}